@import "../styles/_variables.scss";

.menu-side-bar-component {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: -40px;
  height: 100%;

  .ant-menu {
    width: 180px;
    margin-top: -20px;
    font-weight: bold !important;
    background-color: $tertiary-color;

    .ant-menu-item-selected,
    .ant-menu-light {
      background-color: $selected-color !important;
    }

    .menu-items {
      color: $primary-color;

      ::before {
        font-weight: bold !important;
      }
    }
  }
}
