@import "../styles/variables.scss";

.crud-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
  margin: $zero-space auto;

  h1 {
    text-align: center;
  }

  .users-crud-container {
    min-height: 80vh;
  }

  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: $xlarge-space;
    margin-bottom: $xlarge-space;
  }

  .create-new-user-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $xlarge-space;
  }

  .ant-pagination.css-dev-only-do-not-override-1c0na6j {
    justify-content: center;
  }

  .user-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 $large-space $p-color-gray !important;
    margin-bottom: 1rem;

    .block-of-informations {
      display: flex;
      flex-direction: column;
    }

    p {
      display: flex;
      margin-left: $zero-space;
      font-weight: bolder;
    }

    .labels {
      display: flex;
      flex-direction: row;

      .p-name {
        width: 150px;
        margin-left: $large-space;
      }

      .p-info {
        color: $p-color-gray;
        font-weight: normal;
      }
    }

    .btn-see-more-details {
      margin-top: $large-space;
      margin-right: $large-space;
    }
  }
}
