.user-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    .block-of-informations {
        display: flex;
        flex-direction: column;
    }

    p {
        display: flex;
        margin-left: 0;
        font-weight: bolder;
    }

    .labels {
        display: flex;
        flex-direction: row;

        .p-name {
            width: 200px;
        }

        .p-info {
            color: gray;
            font-weight: normal;
        }
    }

    .see-more-btn-link {
        background-color: rgb(66, 66, 230);
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    .user-card-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        border-radius: 0.5rem;
    }
}