@import "../styles/variables.scss";

.crud-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $zero-space $xxlarge-space;
  width: 100%;

  h1 {
    margin-left: $medium-space;
  }

  .create-new-user-and-search-btn {
    display: flex;
    justify-content: space-between;
    width: 90%;

    .ant-input-outlined {
      max-width: 400px;
      border-radius: 0;
      height: 40px;
      margin-left: $medium-space;
    }

    .ant-input-search
      > .ant-input-group
      > .ant-input-group-addon:last-child
      .ant-input-search-button {
      margin-inline-end: 45px;
    }

    .ant-btn.ant-btn-primary.ant-input-search-button {
      width: 100%;
      height: 40px;
    }
  }

  .users-crud-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 55vh;
    margin-top: $xxxlarge-space;
  }

  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: $xlarge-space;
    margin-bottom: $xlarge-space;
  }

  .create-new-user-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $xlarge-space;
  }

  .ant-pagination.css-dev-only-do-not-override-1c0na6j {
    justify-content: center;
  }

  .user-card {
    display: flex;
    justify-content: space-between;
    padding: $medium-space;
    box-shadow: 1px 1px $small-space $color-lightgray !important;
    width: 300px;
    height: 180px;
    margin: $medium-space;

    .block-of-informations {
      display: flex;
      flex-direction: column;
    }

    p {
      display: flex;
      margin-left: $zero-space;
      font-weight: bolder;
    }

    .labels {
      display: flex;
      flex-direction: row;

      .p-name {
        width: 100px;
        margin-left: $large-space;
      }

      .p-info {
        color: $p-color-gray;
        font-weight: normal;
      }
    }

    .btn-see-more-details {
      margin-top: $large-space;
      margin-right: $large-space;
    }
  }

  @media screen and (max-width: 895px) {
    .create-new-user-and-search-btn {
      display: flex;
      flex-direction: column;
    }

    .add-user-btn {
      margin-left: $medium-space;
      margin-top: $xxxlarge-space;
      width: 320px;
    }

    .ant-input-outlined {
      width: 300px;
    }
  }
}
