@import "../../styles/variables.scss";

.edit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 89px;

  .form {
    width: 40%;

    .form-title {
      margin-top: $xxxlarge-space;
    }

    .form-span {
      display: flex;
      font-weight: bold;
    }

    .input-form {
      width: 100%;
      height: $xxlarge-space;
      border-radius: $zero-space;
      margin-bottom: $medium-space;
    }

    .form-buttons {
      display: flex;
      justify-content: end;
      margin-bottom: $xxxlarge-space;

      .ant-btn {
        margin: $xlarge-space $medium-space;
      }
    }
  }
}
