// colors
$primary-color: #363636;
$secondary-color: #f7f7f7;
$tertiary-color: #f2f2f2;
$quaternary-color: #f0f0f0;
$quintenary-color: #f1f1f1;
$link-color: #181818;
$selected-color: #e4e4e4;

// ramdom
$bg-color-red: red;
$bg-color-delete: #ff9393;
$p-color-gray: #808080;
$color-gold: #ffd700;
$color-blue: #3155f5;
$color-dark-blue: #3155f54d;
$color-lightgray: #d3d3d3;

// fonts
$xsmall-font-size: 10px;
$small-font-size: 12px;
$medium-font-size: 14px;
$large-font-size: 16px;
$xlarge-font-size: 18px;

// font weights
$small-font-weight: 300;
$medium-font-weight: 400;
$large-font-weight: 500;
$xlarge-font-weight: 600;
$xxlarge-font-weight: 700;

// spacing
$zero-space: 0px;
$small-space: 5px;
$medium-space: 10px;
$large-space: 15px;
$xlarge-space: 20px;
$xxlarge-space: 35px;
$xxxlarge-space: 40px;
