@import "../styles/variables.scss";

.header {
  display: flex;
  background-color: $tertiary-color;
  margin: -40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $selected-color;

  .header-text {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 700;
    color: $primary-color;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .bi-badge-8k,
    .bi-badge-hd {
      color: gold;
      font-size: 25px;
    }
  }
}
