@import "../styles/variables.scss";

.header {
  display: flex;
  background-color: $tertiary-color;
  margin: -40px;
  margin-bottom: $xlarge-space;
  border-bottom: 1px solid $selected-color;

  .header-text {
    margin-left: $xxxlarge-space;
    margin-right: $xxxlarge-space;
    font-weight: $xxlarge-font-weight;
    color: $primary-color;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .bi-badge-8k,
    .bi-badge-hd {
      color: $color-gold;
      font-size: $xlarge-space;
    }
  }
}
