@import "../styles/_variables.scss";

.footer-upside {
  display: flex;
  background-color: $secondary-color;
  margin: -40px;
  margin-top: 0px;
  border-top: 1px solid $tertiary-color;
  justify-content: space-around;
  align-items: center;

  .footer-div {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: $medium-space;
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .bi-chat-dots,
    .bi-envelope-at,
    .bi-telephone-forward,
    .bi-facebook,
    .bi-youtube,
    .bi-instagram,
    .bi-linkedin {
      margin-right: $small-space;
    }
  }
}

.footer-mainside {
  display: flex;
  background-color: $secondary-color;
  margin: -40px;
  margin-top: $xxxlarge-space;
  margin-left: $small-space;
}

.footer-downside {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  margin: -40px;
  margin-top: $xxxlarge-space;
  color: $quaternary-color;

  .footer-div-downside {
    display: flex;
    padding: $medium-space;
    justify-content: center;

    div {
      padding: $medium-space;
      font-weight: bold;
    }
  }

  .footer-div-downside-lorem {
    display: flex;
    flex-direction: column;
    padding-left: $xlarge-space;
    margin-top: -20px;
  }
}
