@import "../styles/variables.scss";

.payments-container {
  display: flex;
  margin-left: 5%;

  .payment-form {
    border: 1px solid $color-lightgray;
    box-shadow: 1px 1px $small-space $color-lightgray;

    .payment-card-title {
      display: flex;
      align-items: center;
      margin-left: 10%;
      margin-bottom: $small-space;
      margin-top: $medium-space;

      .bi-cash-coin {
        margin-right: $medium-space;
        font-size: $xxlarge-space;
        color: green;
      }

      p {
        margin-top: $small-space;

        span {
          font-weight: bold;
          margin-left: $medium-space;
        }
      }
    }

    .steps-container {
      border-top: 1px solid $color-lightgray;

      .ant-steps-item-container {
        padding: $xlarge-space;
      }

      .steps-action-btns {
        display: flex;
        justify-content: flex-end;
        margin-right: $xlarge-space;
        margin-bottom: $xxlarge-space;
      }
    }

    .form-inputs-father {
      display: flex;

      .form-input-child {
        display: flex;
        flex-direction: column;
        margin-left: $xlarge-space;
        margin-right: $xlarge-space;
      }

      .asterisk {
        color: $bg-color-red;
        margin-right: $small-space;
      }

      .input-form,
      .ant-select-selector {
        min-width: 220px;
        border-radius: $zero-space;
      }
    }
  }

  .table-container {
    margin-left: 5%;
    border: 1px solid $color-lightgray;
    box-shadow: 1px 1px $small-space $color-lightgray;
    height: 250px;
    min-width: 350px;

    h3 {
      margin-left: 5%;
    }

    p {
      text-align: center;
      margin-top: -40px;

      span {
        font-weight: bold;
      }
    }

    .ant-pagination-item-active,
    .ant-pagination-item-link,
    .ant-pagination-item a {
      display: none;
    }

    .safe-conection-msg {
      text-align: center;
      margin-top: $xxxlarge-space;
    }
  }

  .cep-input {
    display: flex;
    flex-direction: column;
    padding: $zero-space $xlarge-space $zero-space;

    .asterisk {
      color: $bg-color-red;
    }

    .input-form {
      border-radius: $zero-space;
    }

    .ant-select-selector {
      min-width: 220px;
      border-radius: $zero-space;
    }
  }
}

.payments-h1-title {
  margin-left: 10%;
}
