.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62vh;
  margin-top: 10vh;

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid rgb(49, 85, 245);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(49, 85, 245, 0.3) !important;

    .form {
      text-align: left;

      .form-span {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .login-btns {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
      }

      .different-passwords-msg {
        color: red;
        margin-top: -25px;
        font-weight: 600;
      }
    }
  }
}
