@import "../styles/variables.scss";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62vh;
  margin-top: 10vh;

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid $color-blue;
    border-radius: $medium-space;
    box-shadow: 0 0 $xlarge-space $color-dark-blue !important;

    .form {
      text-align: left;

      .form-span {
        font-weight: bold;
        margin-bottom: $medium-space;
      }

      .login-btns {
        margin-top: $xlarge-space;
        margin-bottom: $xlarge-space;
        margin-left: $xlarge-space;
      }

      .different-passwords-msg {
        color: $bg-color-red;
        margin-top: -25px;
        font-weight: $xlarge-font-weight;
      }
    }
  }
}
