.user-card-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  margin-bottom: 20px;

  .user-title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .buttons {
      width: 250px;
      margin-top: 35px;
      margin-right: 40px;
      display: flex;
      justify-content: space-between;

      .ant-btn,
      .ant-btn-default {
        margin-right: 10px !important;
      }
    }

    .delete-btn {
      background-color: #dd0f0f;
      color: white;

      &:hover {
        background-color: rgb(255, 147, 147);
        border-color: rgb(255, 147, 147);
        color: white;
      }
    }
  }

  .h1-title-user,
  .labels {
    margin-left: 40px;
    margin-right: 30px;
  }

  p {
    display: flex;
    margin-left: 0;
    font-weight: bolder;
  }

  .labels {
    display: flex;
    flex-direction: row;

    .p-name {
      width: 200px;
    }

    .p-info {
      color: gray;
      font-weight: normal;
    }
  }
}
