@import "../../styles/variables.scss";

.user-card-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  margin-bottom: $xlarge-space;

  .user-title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .buttons {
      width: 250px;
      margin-top: $xxlarge-space;
      margin-right: $xxxlarge-space;
      display: flex;
      justify-content: space-between;

      .ant-btn,
      .ant-btn-default {
        margin-right: $medium-space !important;
      }
    }

    .delete-btn {
      background-color: #dd0f0f;
      color: $secondary-color;

      &:hover {
        background-color: $bg-color-delete;
        border-color: $bg-color-delete;
        color: $secondary-color;
      }
    }
  }

  .h1-title-user,
  .labels {
    margin-left: $xxxlarge-space;
    margin-right: $xxlarge-space;
  }

  p {
    display: flex;
    margin-left: 0;
    font-weight: bolder;
  }

  .labels {
    display: flex;
    flex-direction: row;

    .p-name {
      width: 200px;
    }

    .p-info {
      color: $p-color-gray;
      font-weight: normal;
    }
  }
}
