.user-card-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0.5rem;

    p {
        display: flex;
        margin-left: 0;
        font-weight: bolder;
    }

    .labels {
        display: flex;
        flex-direction: row;

        .p-name {
            width: 200px;
        }

        .p-info {
            color: gray;
            font-weight: normal;
        }
    }
}