@import "../../styles/variables.scss";

.create-user {
  min-height: 628px;
  margin-left: 20%;

  .steps-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: $zero-space auto;
  }

  .steps-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: $xlarge-space;
  }

  .steps-action {
    display: flex;
    text-align: right;
    margin-top: $large-space;
    justify-content: end;
    margin-right: 100px;
  }

  .form {
    width: 300px;

    .ant-typography {
      font-size: $large-font-size;
    }

    .form-title {
      text-align: center;
    }

    .form-span {
      font-weight: bolder;

      .asterisk {
        color: $bg-color-red;
      }
    }

    .input-form {
      width: 100%;
      height: $xxlarge-space;
      border-radius: $zero-space;
      margin-bottom: $medium-space;
    }
  }
}
